# Node
node_modules/
.env
.env.local
.env.development
.env.production

# Expo / React Native
.expo/
.expo-shared/
android/
ios/
web-build/

# Prisma
prisma/dev.db
prisma/migrations/

# VSCode
.vscode/

# build artifacts
dist/
build/
